<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.adjtyh.demo11.dao.IJbggws_decDao">

	<cache eviction="FIFO" flushInterval="60000" size="500" readOnly="true"></cache>

	<select id="selectByParams" resultType="Jbggws_dec" parameterType="map">
		select * from jbggws_dec
	</select>
	
	<select id="selectByUName" resultType="Jbggws_dec" parameterType="String">
		select * from jbggws_dec 

	</select>

	<select id="getRowCount" resultType="int">
		SELECT COUNT(*) FROM jbggws_dec
	</select>
	
	<select id="getTable" resultType="Jbggws_dec">
		SELECT * FROM jbggws_dec
	</select>


</mapper> 
